@use 'base/variables' as v;
@use 'base/mixins' as m;

.white-btn {
    display: block;
    width: fit-content;
    background-color: v.$white;
    color: v.$gray;
    font-family: v.$font_1;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    border: none;
    border-radius: 45px;
    padding: 5px 15px;
    margin: 0 auto;
    box-shadow: 4px 4px 8px #000000cc;
    &:hover {
        background-color: v.$gray;
        color: v.$white;
    }
    @include m.desktopM {
        background-color: v.$gray;
        color: v.$white;
        margin: 0;
        font-size: 30px;
        padding: 12px 24px 10px 24px;
        &:hover {
            background-color: v.$white;
            color: v.$gray;
        }
    }
}

.gray-btn {
    display: flex;
    width: auto;
    background: #76777a;
    color: #FFFFFF;
    font-family: v.$font_1;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 6px;
    padding: 4px 40px 2px 37px;
    transition: all .3s ease-in-out;
    &:hover {
        background: v.$white;
        color: v.$gray;
        border: 1px solid v.$gray;

        .arrow {
            border-color: v.$gray;
        }
    }
    
}

.gray-admin-btn {
    background-color: v.$light_gray;
    color: v.$black;
    display: block;
    width: 80%;
    border: 1px solid v.$black;
    padding: 4px 10px;
    margin: 1rem auto 0.5rem auto;
    font-size: 2.5vmin;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    svg {
        width: 35px;
        height: 35px;
    }

}

.red-btn {
    background-color: v.$red;
}

.blue-btn {
    background-color: v.$blue2;
}

.close-modal-button {
    background-color: v.$white;
    color: v.$gray;
    padding: 5px 20px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    &:hover {
        background-color: v.$gray;
        color: v.$white;
    }
}

.logout-button {
    background-color: v.$light_gray;
    color: v.$gray;
    font-family: 'Helvetica';
    font-size: 3vw;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 15px;
    transition: all .3s linear;
    &:hover {
        background-color: v.$gray;
        color: v.$white;
    }
    @include m.mobileHoriz {
        font-size: 15px;
    }
    @include m.tablet {
        font-size: 12px;
        padding: 8px 18px;
    }
}

.project-section {
    .logout-button {
        background-color: #00000000;
        color: v.$gray;
        border: 1px solid v.$gray;
        &:hover {
            background-color: v.$gray;
            color: v.$white;
            border: 1px solid v.$gray;
        }
    }
}

.department-button {
    width: -webkit-fill-available;
    background-color: v.$light_gray;
    color: v.$gray;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 3px 4px -1px #00000080;
    padding: 10px 0 8px 0;
}

#anida .utility {
    .department-button {
        background-color: v.$pink;
        color: v.$white;
    }
}
#west .utility {
    .department-button {
        background-color: v.$wine;
        color: v.$white;
    }
}
#rise .utility {
    .department-button {
        background-color: v.$yellow;
        color: v.$white;
    }
}

.utility .utility-button {
    background-color: v.$light_gray;
    color: v.$gray;
    text-align: center;
    display: flex;
    flex: 1 1 42%;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0px;
    max-height: 60px;
    overflow-y: hidden;
    font-size: 15px;
    padding: 0px;
    transform: scale(1);
    border: none;
    border-radius: 5px;
    box-shadow: 4px 3px 4px -1px #00000080;

    &:hover {
        background-color: v.$white;
        border: 1px solid v.$gray
    }
}

.file-color-btn {
    text-align: center;
    display: flex;
    flex: 1 1 42%;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0px;
    max-height: 60px;
    overflow-y: hidden;
    font-size: 15px;
    background: v.$light_gray;
    color: v.$gray;
    padding: 0px;
    transform: scale(1);
    border-radius: 5px;
    &:hover {
        background-color: v.$white;
        color: v.$gray;
        border: 1px solid v.$gray;
    }
    @include m.desktop {
        flex: 1 1 31%;
    }
}

.file-button {
    transition: all 0.5s ease-in-out, height 1s linear;
}

#anida .file-color-btn {
    background-color: v.$pink;
    color: v.$white;
    &:hover {
        background-color: v.$white;
        color: v.$pink;
        border: 1px solid v.$pink;
    }
}

#rise .file-color-btn {
    background-color: v.$yellow;
    color: v.$white;
    &:hover {
        background-color: v.$white;
        color: v.$yellow;
        border: 1px solid v.$yellow;
    }
}

#west .file-color-btn {
    background-color: v.$wine;
    color: v.$white;
    &:hover {
        background-color: v.$white;
        color: v.$wine;
        border: 1px solid v.$wine;
    }
}

.delete-btn {
    background-color: v.$red;
    color: v.$white;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
}