@use 'variables' as v;
@use 'base/mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,h2, h3, p, a, input, label, button, span, form, button, input, optgroup, select, textarea {
    font-family: v.$font_1;
    font-size: 20px;
    color: v.$gray;
}

a {
    cursor: pointer;
    text-decoration: none;
}

img {
    width: 30%;
}
body {
    min-height: 90vh;
    cursor: url("/public/build/img/cursor2.svg"), auto;
}

button {
     cursor: pointer;
}
section {
    width: 100%;
    min-height: 100vh;
    padding: 4rem 2rem;
    position: relative;
    &::after {
        content: '';
        background-image: url('/build/img/vertical.webp');
        background-size: cover;
        background-position: top center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        filter:brightness(0.4);
        z-index: -1;
        @include m.desktop {
            background-image: url('/build/img/horizontal.webp');
        }
    }
    @include m.tablet {
        padding: 6rem 6rem;
    }
    @include m.mobileHoriz {
        padding: 1rem 0;
    }
    @include m.desktopM {
        padding: 4rem 6rem;
    }
}

.arrow {
    display: block;
    width: 8px;
    height: 8px;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    top: 6px;
    left: 5px;
    position: relative;
    transform: rotate(-45deg);
}

.back-arrow {
    width: fit-content;
    margin: 0;
    cursor: pointer;
    margin-bottom: 0px;
    svg {
        width: 40px;
    }
}

.errors-div {
    p {
        color: v.$red;
    }
}

#loadingIndicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
