$gray: #76777A;
$light_gray: #E8E8E8;
$rise_gray: #E4DDD7;
$white: #FFFFFF;
$blue: #051231;
$beige: #ECE1C4;
$pink: #9A1554;
$red: #FF0000;
$wine: #92201B;
$yellow: #E69924;
$font_1: 'Helvetica';




//Screen sizes
$mobile: 480px;
$mobileHoriz: 550px;
$tablet: 768px; 
$tabletXL: 1024px;
$tabletXXL: 1300px;
$desktop: 992px;
$desktopM: 1024px;
$desktopXL: 1200px;