@use 'base/variables' as v;
@use 'base/mixins' as m;

.project-section {
    h2 {
        font-weight: 200;
        text-align: center;
        margin: 0;
        margin-top: 4rem;
        margin-bottom: 4rem;
        color: v.$white;
        @include m.tablet {
            font-size: 26px;
        }
        @include m.mobileHoriz {
            font-size: 2.4vw;
        }
    }
    img {
        width: 100%;
        height: auto;
    }
    .user-data {
        background-color: v.$white;
        .buttons-div {
            display:flex;
            flex-direction: column;
            align-items:center;
            row-gap: 10px;

            .help-div {
                a {
                    background-color: v.$gray;
                    color: v.$white;
                    font-family: 'Helvetica';
                    font-size: 3vw;
                    font-weight: 700;
                    border-radius: 5px;
                    padding: 8px 20px;
                    transition: all .3s linear;
                    @include m.mobileHoriz {
                        font-size: 15px;
                    }
                    @include m.tablet {
                        font-size: 12px;
                        padding: 5.5px 18px;
                    }
                }
            }
            
            @include m.tablet {
                flex-direction: row;
                row-gap: 0;
                column-gap: 10px;
            }
        }
    }
    .project-div {
        width: 70%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        transform: translateY(0%);
        transition: all .5s ease-in-out 0s;
        z-index: 1;
        @include m.desktop {
            width: 35%;
        }
        @include m.tablet {
            width: 30%;
        }
        @include m.mobileHoriz {
            width: 75%;
        }
        @media(max-width: 700px) and (max-height: 550px) {
            width: 85%;
        }
        @include m.desktopM {
            width: 29%;
        }
        @include m.verticalTablet {
            width: 40%;
        }
        @include m.tabletXL {
            width: 35%;
        }
        @include m.tabletXXL {
            width: 30%;
        }
        &:first-child {
            transform: translateY(0);
        }
        .project-logo-div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: 8px 8px 20px 0px #00000059;
        border-radius: 10px;
        padding: 0 5.5rem;
        margin-bottom: 1rem;
        z-index: 2;
        cursor:inherit;
        
        &:hover {
            border: 1px solid #000000;
        }
        @include m.tablet {
            height: -webkit-fill-available;
            width: 100%;
            padding: 0 5rem;
        }
        h2 {
            font-weight: 700;
            font-size: 24px;
            color: v.$gray;
            margin: auto;
            @include m.tablet {
                font-size: 3.2vw;
            }
            
            @include m.desktop {
                font-size: 2.5vw;
            }
            @include m.desktopL {
                font-size: 2.1vw;
            }
            @include m.mobileHoriz {
                font-size: 2.3vw;
            }
        }
    }
    .project-buttons-div {
        position: absolute;
        top: 0;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0rem;
        margin: 0;
        padding-top: 1rem;
        transition: all .5s ease-in-out;
        z-index: 0;
            .gray-btn {
                width: 100%;
                justify-content: center;
                font-size: 15px;
                font-weight: 600;
                text-decoration: none;
                transition: padding .5s ease-in-out, background-color .3s linear, color .6s linear;

                &:hover {
                    background-color: v.$white;
                    color: v.$gray;
                    border: 1px solid v.$gray;
                }
                @include m.mobileHoriz {
                    font-size: 1.4vw;
                }
                @include m.tabletXXL {
                    font-size: 20px;
                }
            }
            .divisor-div {
                display: flex;
                justify-content: center;
                align-items: center;
                .gray-line {
                    width: 1px;
                    background-color: v.$gray;
                    transition: all .5s ease-in-out;
                }
            }
        }
    }
}

.project-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    
}
.help-div {
    a {
        display: flex;
        align-items: center;
        font-size: 16px;
        img {
            width: 20px;
            margin-left: 5px;
        }
    }
}
.project-video-div {
    width: 100%;
    height: 100vh;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    .background-video {
        display: block;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: #000000b3;
        z-index: 3;
    }
    .project-video {
        width: 90%;
        height: fit-content;
        transition: all .5s linear;
        z-index: 99;
        opacity: 0;
        visibility: hidden;

        @include m.tablet {
            width: 75%;
        }
        @include m.desktopM {
            width: 65%;
        }
        @include m.desktopL {
            width: 115vmin;
        }
        @include m.mobileHoriz {
            width: 100vmin;
        }
    }
    .close-modal-button {
        position: relative;
        top: -5rem;
        right: 0;
        transition: all .5s linear;
        transform: scale(0);
        z-index: 99;
    }
}

